<div *ngFor="let x of resul;let i = index">
  <div class="card mb-3" *ngIf="i<pag && i>min">
  <h3 class="card-header" (click)="amplInf()">{{x.titulo}} {{x.localidad}} ({{x.provincia}}) <i *ngIf="x.llave" class="fa fa-key"></i> </h3>
  <h4 class = "card-header"> Precio : {{x.precio}}</h4>
  <div class = "card-body">
  <img src={{x.foto}} alt="Sin Imágenes" style="width: 50%;" (click)="amplInf()">

  <div class="card-body">
    <p class="card-text">{{x.des}}</p>
    <hr class="my-4">
    <h5>Características:</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let ca of x.car">{{ca}}</li>
  </ul>
   <div class="card-body">
    <h4>{{x.nombre}} {{x.ape}} {{x.telefono}}</h4>
  </div>

</div>
</div>
</div>
<div>
  <ul class="pagination pagination-lg">
    <li class="page-item disabled">
      <a class="page-link" >&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" (click)="paginacion(9,0)">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="paginacion(19,10)">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>

