.card {

	cursor:pointer;

}

.card-text{
	
	width:50%;

}

.foto-portada{
	
	float:left;
	width:60%;
	max-height:40%;

}

.list-group list-group-flush{
	
	float:left;
	width:60%;

}

.list-group-item{
	
	float:left;

}

.btn btn-primary btn-lg{
	
	float:right;

}

.foto-ampliada{
	
	width:50%;

}