<div class="jumbotron mt-3" >
  <h2 class="display-3">Tus inmuebles publicados</h2>
  <p class="lead">Esta es la relación de inmuebles que tienes publicados en nuestro portal </p>
  <hr class="my-4">

  <div class="card mb-3">
  <h3 class="card-header">Inmueble en calle Rocas</h3>
  <div class="card-body">
    <h6 class="card-subtitle text-muted">Magnífico inmueble en pleno centro (del bosque)</h6>
  </div>
  <img src="https://firebasestorage.googleapis.com/v0/b/agilehome-fe94b.appspot.com/o/img%2Fcasademierda.jpg?alt=media&token=aa5b4888-c97e-4d24-be6e-74114c7f14fb" alt="casa de mierda" style="height: 300px; width: 50%; display: inline;align-self: center" >
  <div class="card-body">
    <p class="card-text">Descripción del inmueble, es muy bonito, lo vendo porque es una mierda pero igual te mola, qué sé yo</p>
    <hr class="my-4">
    <h6>Características</h6>
  </div>
   
   
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Jardín</li>
    <li class="list-group-item">Garaje</li>
    <li class="list-group-item">Aire Acondicionado</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Editar Inmueble</a>
    <a href="#" class="card-link">Eliminar Inmueble</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">+ Nuevo inmueble</a>
  </p>
</div>
