<div class="jumbotron mt-3" >
  <h2 class="display-3">Tus inmuebles publicados</h2>
  <p class="lead" *ngIf="inmueblesPub">Esta es la relación de inmuebles que tienes publicados en nuestro portal </p>
  <p class = "lead" *ngIf="!inmueblesPub">Aún no has publicado ningún inmueble, rellena el formulario y publica ya. Cuando el inmueble esté disponible para las visitas no olvides poner la señal de visita express <i class="fa fa-key"></i></p>
  <hr class="my-4">
  
  <div *ngFor="let x of inms">
  <div class="card mb-3">
  <h3 class="card-header">{{x.titulo}}</h3>
  <div class="card-body">
  <img src={{x.foto}} alt="Sin Imágenes" style="width: 50%;" >
  <div class="card-body">
    <p class="card-text">{{x.des}}</p>
    <hr class="my-4">
    <h5>Características:</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let ca of x.car">{{ca}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Editar Inmueble</a>
    <a (click)="borrar(x.id)" class="btn btn-primary" role="button" >Eliminar Inmueble</a>
  </div>
</div>
</div>
 
</div>
 <p class="lead">
    <a class="btn btn-primary btn-lg" href="/formInm" role="button">+ Nuevo inmueble</a>
  </p>