<div class="row" *ngIf="vista">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">    
    <h2>Búsqueda de inmuebles</h2>
    <form (ngSubmit)="enviarForm()" #forminm="ngForm">

    	   <div class="form-group">
          <label for="tipo">Tipo de transacción</label>
          <select class="form-control" 
                  id="tipo"
                  ngModel
                  name="tipo"
                  required
                  #tipo="ngModel">
                  <option *ngFor="let tip of tipoTransaccion"
                  [value]="tip">{{tip}} </option> 
          </select>
          <p class="alert alert-danger" *ngIf="car.invalid && car.touched">
            Escoge algún tipo de transacción
          </p>
        </div> 

        <div class="form-group">
          <label>Precio máximo</label>
          <input type="number" 
                 class="form-control"
                 id="precio"
                 name="precio"
                 ngModel
                 required
                 #precio="ngModel">
        </div>

        <div class="form-group">
          <label>Localidad</label>
          <input type="text" 
                 class="form-control"
                 id="localidad" 
                 name="localidad"
                 ngModel
                 #localidad="ngModel">
          <p class="alert alert-danger" *ngIf="localidad.invalid && localidad.touched">
            El campo Localidad es obligatorio.
          </p>
        </div>

        <div class="form-group">
          <label for="provincia">Provincia</label>
          <select class="form-control" 
                  id="provincia"
                  ngModel
                  name="provincia"
                  #provincia="ngModel">
                  <option value="">Seleccione la provincia</option> 
                  <option *ngFor="let provincia of provincias"
                  [value]="provincia">{{provincia}} </option> 
          </select>
          <p class="alert alert-danger" *ngIf="provincia.invalid && provincia.touched">
            El campo Provincia es obligatorio.
          </p>
        </div> 

        <div class="form-group">
          <label for="car">Características</label>
          <select multiple class="form-control" 
                  id="car"
                  ngModel
                  name="car"
                  #car="ngModel">
                  <option value="">Mantenga AltGr pulsado para seleccionar más de una característica</option> 
                  <option *ngFor="let car of caracteristicas"
                  [value]="car">{{car}} </option> 
          </select>
          <p class="alert alert-danger" *ngIf="car.invalid && car.touched">
            Escoge alguna característica
          </p>
        </div> 

      <button type="submit" 
              class="btn btn-success"
              [disabled]="!forminm.valid"
              >Buscar</button>
 

    <hr>

    </form>
  </div>
</div>

<!------------------Vista Información Ampliada---------------->

<div class="jumbotron mt-3" *ngIf = "!vista">
<div *ngFor="let x of resul">
  <div class="card mb-3">
  <h3 class="card-header" (click)="amplInf()">{{x.titulo}} <i *ngIf="x.llave" class="fa fa-key"></i> </h3>
  <h4 class = "card-header"> Precio : {{x.precio}}</h4>
  <div class = "card-body">
  <img src={{x.foto}} alt="Sin Imágenes" style="width: 50%;" (click)="amplInf()">

  <div class="card-body">
    <p class="card-text">{{x.des}}</p>
    <hr class="my-4">
    <h5>Características:</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let ca of x.car">{{ca}}</li>
  </ul>
   <div class="card-body">
    <h4>{{x.nombre}} {{x.ape}} {{x.telefono}}</h4>
  </div>

</div>
</div>
</div>
<p class="lead">
    <button class="btn btn-primary btn-lg" (click) = "cambioVista()" >Volver</button>
</p>
</div>