<div class="jumbotron">
  <h1 class="display-3" align="center">Bienvenido a tu nueva casa</h1>
  <p class="lead" align="center">En agileHome sabemos que tu tiempo es oro, así que, agiliza tu proceso con nuestro sistema de visita express</p>
  <hr class="my-4">
  <p>Busca entre nuestros inmuebles los marcados con el icono de visita express y ve a visitarlo en el momento sin necesidad de llamadas ni de realizar citas previas</p>

<div id="carrusel" class="carousel slide" data-ride="carousel">

  <ul class="carousel-indicators">
    <li data-target="#carrusel" data-slide-to="0" class="active"></li>
    <li data-target="#carrusel" data-slide-to="1"></li>
    <li data-target="#carrusel" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner" style="text-align:center;" >
    <div class="carousel-item active">
      <img src="https://firebasestorage.googleapis.com/v0/b/agilehome-fe94b.appspot.com/o/img%2Fslider%2Fslider1.jpg?alt=media&token=eaf245b4-e2a0-44f2-a47c-05208a22bd37">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/agilehome-fe94b.appspot.com/o/img%2Fslider%2Fslider2.jpg?alt=media&token=5a156b84-a4c3-4ff0-99f3-76468162af18">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/agilehome-fe94b.appspot.com/o/img%2Fslider%2Fslider3.jpg?alt=media&token=2b125d52-b345-4973-9615-093bc3cd9c1a">
    </div>
  </div>

  <a class="carousel-control-prev" href="#carrusel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#carrusel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

  <p class="lead" style="text-align:center;" >
    <a class="btn btn-primary btn-lg" href="#" role="button" id="botonInicio">Comienza a buscar tu nueva casa</a>
  </p>

</div>